@import "./base.sass"

#employees
  .list-item
    padding: .4rem
    margin: .5rem
    background: $blue_grey_50
    border-radius: .1rem
    font-size: .8rem
    .header
      display: flex
      align-items: center
      justify-content: space-between
      .name
        display: flex
        font-size: 1rem
        &>div
          padding-left: .5rem
        &>div:first-child
          padding-left: 0rem
      .date_joined
        font-size: .7rem
        color: $blue_grey_600
    .company
      font-size: .7rem
      color: $blue_grey_600
