
@import "./base.sass"

#events
  &.list-container
    padding-top: 2rem
    padding-bottom: 2rem
  .title
    font-size: 2rem
    text-transform: uppercase
  .create_date
    font-size: .8rem
    color: $grey_500
  .content
    padding-top: 1.4rem
    padding-bottom: 1.4rem
  .start_date
    margin-top: 1.4rem
  .footer
    border-top: 1px solid $grey_300
    padding: .8rem 0rem
